@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .style-links a {
    @apply text-blue-600 no-underline;
  }
  .style-links a:hover {
    @apply text-blue-500;
  }

  /* Chrome, Safari, Edge, Opera */
  input.hide-arrows::-webkit-outer-spin-button,
  input.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input.hide-arrows[type=number] {
    -moz-appearance: textfield;
  }
}